<div class="ui right floated buttons">
    {% set menu = knp_menu_get('monsieurbiz_case_study.admin.case_study.update', [], {'case_study': caseStudy}) %}
    {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
</div>
